
<h1 class="my-4">Article preview
</h1>

<form>
  <div class="form-group">
    <label for="title">Title for the post:</label>
    <input type="text" class="form-control" id="title" placeholder="">
  </div>
  <div class="form-group">
    <label for="author">Author of the post</label>
    <input type="text" class="form-control" id="author" placeholder="" disabled>
  </div>
  <div class="form-group">
    <label for="generatedPost">Generated post</label>
    <textarea class="form-control" id="generatedPost" rows="5" placeholder=""></textarea>
  </div>
  <button class="btn btn-sm btn-dark" type="submit">Submit</button>
  <button class="btn btn-sm btn-dark" id="cancelBtn">Cancel</button>
</form>
