<div class="row justify-content-start"> <!-- Heading -->
  <div class="col"><h1 class="text-left"><strong>></strong>Login form here<strong></h1></div>
</div>

<hr>
<div class="row justify-content-center">
  <div class="col-sm-4 align-text-center">
    <!-- Add another if to check if already logged in or do it on server side -->
    {{#if success}}
    {{else}}
    <!-- Message when login fails. -->
      <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    <form action="/login" method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <!--
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      -->
      <button class="btn btn-lg btn-dark btn-block" type="submit">Log in</button>

      <p class="mt-5 mb-3 text-muted">Need an account? <a href="/signup">Signup</a></p>
    </form>
  </div>
</div>
