<section class="intro">
<!--<h2>Profile</h2>-->
</section>
{{#if isSuccess}}
<h1 class="h3 mb-3 font-weight-normal text-center">Information modified successfully.</h1>
{{else}}
<h1 class="h3 mb-3 font-weight-normal text-center">Information update was not successful.</h1>
Reason:
{{#each errors}}
  {{this}}
{{/each}}
{{/if}}
